@use "bootstrap-icons/font/bootstrap-icons";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary: #39B54A;
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));


@import "bootstrap/scss/bootstrap";


$primary-color: $primary;
$primary-fg-color: #ffffff;
$secondary-color: #3966b5;
$tertiary-color: #B539A4;
$quaternary-color: #B58839;

.partners .logo {
  width: 60px;
  height: 60px;
}

.sponsor .logo {
    width: 275px;
    height: 80px;
}


header.news {
    background-color: $primary-color; 

    div {
        text-align: right;

        .btn.btn-link {
            color: $primary-fg-color;
            text-decoration: none;

            &:hover {
                color: $primary-fg-color;
                text-decoration: underline;
            }
        }
    }
}

footer {
    background-color: #f8f9fa;

    &.sponsors {
        background-color: #f3f4f2;

    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        display: inline-block;
        text-align: center;
    }
}

main {
    .partner.logo {
        align-content: right;
        width: 60px;
        height: 60px;   
    }

    .back {
        text-align: center;

        .btn {
            color: $primary-fg-color;
        }
    }

    ul.events {
        li {
            list-style: none;
            
            &::before {
                font-family: bootstrap-icons, sans-serif;
                content: "\F214";

                // font-size: 1.2em;
                margin-right: .5em;
                color: $primary-color;
            }

            a {
                font-weight: bolder;
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .event-date::after {
                content: ": ";
            }

            i.bi {
                color: $primary-color;
            }
        }
    }
}
