@use "bootstrap-icons/font/bootstrap-icons";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary: #39B54A;
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));


@import "bootstrap/scss/bootstrap";


$primary-color: $primary;
$primary-fg-color: #ffffff;
$secondary-color: #3966b5;
$tertiary-color: #B539A4;
$quaternary-color: #B58839;
$footer-grey-400: #f8f9fa;
$footer-grey-600: darken($color: $footer-grey-400, $amount: 5%);



.sponsor .logo {
    width: 275px;
    height: 80px;
}


header.news {
    background-color: $primary-color; 

    div {
        text-align: right;

        .btn.btn-link {
            color: $primary-fg-color;
            text-decoration: none;

            &:hover {
                color: $primary-fg-color;
                text-decoration: underline;
            }
        }
    }
}

footer {
    background-color: $footer-grey-600;

    &.sponsors {
        background-color: $footer-grey-400;

    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        display: inline-block;

        // text-align: center;
    }
    
    p, h3 {
        color: darken($color: #f8f9fa, $amount: 40%)
    }

    h3 {
        font-size: 1em;
    }

    &.contact {
        padding: 1em;

        li {
          display: block;
          font-size: 0.8em;

          a {
            color: darken($color: $primary, $amount: 10%);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

    }
}

main {
    .partner.logo {
        align-content: right;
        width: 60px;
        height: 60px;   
    }

    .back {
        text-align: center;

        .btn {
            color: $primary-fg-color;
        }
    }

    h1 {
        font-weight: bolder;
    }

    ul.events {
        li {
            list-style: none;
            font-size: 1.2em;
            
            &::before {
                font-family: bootstrap-icons, sans-serif;
                content: "\F214";

                // font-size: 1.2em;
                margin-right: .5em;
                color: $primary-color;
            }

            a {
                font-weight: bolder;
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .event-date::after {
                content: ": ";
            }

            i.bi {
                color: $primary-color;
            }
        }
    }

    article {
        @extend .px-5;

        // @extend .py-3;

        margin-top: 1em;

        a {
            color: $primary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        h1, h2 a {
            color: #000000;

            // font-weight: bold;
            // font-style: italic;
            text-decoration: none;

            &::before {
                font-family: bootstrap-icons, sans-serif;
                content: "\F521";
                margin-right: .5em;
                text-decoration: none;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.partners {
    .logo {
    height: 60px;
    margin-top: 2em;
    margin-right: 1.5em;

    &.zhaw {
        width: 60px;    
    }
  
    &.ounl {
        width: 168px;
    } 

    &.urjc {
        width: 168px;
    }

    &.cgl, &.thk {
        width: 111;
    }

    &.lnu {
        width: 370px;
    }

    &.piwgroep {
        height: 60px;
        width: 231px;
    }

    &.treetree2 {
        height: 40px;
        width: 216px;    
    }

    &.swalmenroer {
        height: 50px;
        width: 180px;    
    }

    &.colegioatlantico {
        width: 81px;
    }

    &.kodcentrum {
        width: 152px;
    }

    &.aeffl {
        width: 96px;
    }
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }
}
