{% set allpartners = partners.research %}
{% set allpartners = allpartners.concat(partners.schools) %}

<footer class="sponsors">
<div class="container">
<div class="container-fluid">
    <p>Sponsors</p>
    <ul>
    {% for sponsor in sponsors %}
    <li class="sponsor"><a href="{{ sponsor.url }}" target="_blank"><img class="logo" src="/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}" eleventy:ignore></a></li>
    {% endfor %}
    </ul>
</div>
</div>
</footer>

<footer class="partners">
<div class="container">
<div class="container-fluid">
    <p>Partners</p>
    <ul class="universities">
    {% for partner in allpartners %}
    <li class="partner {{ partner.acronym }}"><a href="{{ partner.url }}" target="_blank">
    {%if partner.logo -%}
        {% for logo in partner.logo -%}
        <img alt="{{ partner.name }} ({{ partner.acronym }})" src="/images/partners/{{logo}}" class="logo {{ partner.acronym | lower }}" eleventy:ignore>
        {%- endfor %}
    {% else %}
        {{ partner.name }} ({{ partner.acronym }})
    {%- endif %}
    </a></li>
    {% endfor %}
    </ul>
</div>
</div>
</footer>

