{% set allpartners = partners.research %}
{% set allpartners = allpartners.concat(partners.schools) %}

<footer class="sponsors">
<div class="container py-4">
<div class="container-fluid">
    <p>
    This project is funded by:
    </p>
    <ul>
    {% for sponsor in sponsors %}
    <li class="sponsor"><a href="{{ sponsor.url }}" target="_blank"><img class="logo" src="/images/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}"></a></li>
    {% endfor %}
    </ul>
</div>
</div>
</footer>

<footer class="partners">
<div class="container py-4">
<div class="container-fluid">
    <p>Partners</p>
    <ul class="universities">
    {% for partner in allpartners %}
    <li class="partner {{ partner.acronym }}"><a href="{{ partner.url }}" target="_blank">
    {%if partner.logo -%}
        {% for logo in partner.logo -%}
        <img alt="{{ partner.name }} ({{ partner.acronym }})" src="/images/partners/{{logo}}" class="logo {{ partner.acronym | lower }}">
        {%- endfor %}
    {% else %}
        {{ partner.name }} ({{ partner.acronym }})
    {%- endif %}
    </a></li>
    {% endfor %}
    </ul>
</div>
</div>
</footer>


<footer class="contact">
<div class="container py-4">
<div class="row">
<div class="col">
    <h3>Community</h3>
    <ul>
    {% for link in links.Community %}
    <li><a class="{{ link.logo }}" href="{{ link.url }}" {%if link.target %}target="{{ link.target }}"{% endif %}>{{ link.name }}</a></li>
    {% endfor %}
    </ul>    
</div>

<div class="col">
    <h3>Resources</h3>
    <ul>
    {% for link in links.Resources %}
    <li><a class="{{ link.logo }}" href="{{ link.url }}" {%if link.target %}target="{{ link.target }}"{% endif %}>{{ link.name }}</a></li>
    {% endfor %}
    </ul>    
</div>

<div class="col">
    <h3>Project</h3>
    <ul>
    {% for link in links.Project %}
    <li><a class="{{ link.logo }}" href="{{ link.url }}" {%if link.target %}target="{{ link.target }}"{% endif %}>{{ link.name }}</a></li>
    {% endfor %}
    </ul>    
</div>
</div>
</div>
</footer>

