<!-- skiplinks -->
<a href="#main" class="visually-hidden-focusable">Skip to main content</a>

<div class="container py-4">
  <header class="title">
    <a href="{{ '/' | url }}" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="{{ site.logo_large | url }}" alt="logo {{ site.title }}" class="img-fluid" style="margin-right: 2em; width: 120px; height: 65px;" eleventy:ignore> <span class="fs-4">{{ site.long_title }}</span>
    </a>
  </header>
  <nav class="top-dropdown-nav-bar">
  <div class="container">
    <ul class="list-unstyled d-flex gap-4 mb-0">
      <li>
        <details>
          <summary>Community</summary>
          <ul class="list-unstyled">
          {% for link in links.Community %}
            <li><a class="{{ link.logo }}" href="{{ link.url }}" {%if link.target %}target="{{ link.target }}"{% endif %}>{{ link.name }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Resources</summary>
          <ul class="list-unstyled">
          {% for link in links.Resources %}
            <li><a class="{{ link.logo }}" href="{{ link.url }}" {%if link.target %}target="{{ link.target }}"{% endif %}>{{ link.name }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Project</summary>
          <ul class="list-unstyled">
          {% for link in links.Project %}
            <li><a class="{{ link.logo }}" href="{{ link.url }}" {%if link.target %}target="{{ link.target }}"{% endif %}>{{ link.name }}</a></li>
          {% endfor %}
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <div class="wave-bottom" aria-hidden="true">
    <svg viewBox="0 0 1440 60" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0,30 C240,60 480,0 720,30 C960,60 1200,0 1440,30 L1440,60 L0,60 Z" fill="#ffffff"></path>
    </svg>
  </div>
</nav>
</div>


