<section id="about" class="home-about" aria-labelledby="about-heading">
  <div class="container rsf-text">
    <h2 id="about-heading">About CoTEDI</h2>
    {% include "blocks/about_text.njk" %}
    <p><a class="btn btn-outline-primary" href="{{ '/pages/about/' | url }}">Read more about the project</a></p>
  </div>
</section>
