<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or site.long_title or meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="/images/favicons/CoTEDIlogo-sq-apple-touch.png" sizes="180x180">
    <link rel="icon" href="/images/favicons/CoTEDIlogo-sq-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/images/favicons/CoTEDIlogo-sq-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/images/favicons/cotedi-manifest.json">
    <link rel="icon" href="/images/favicons/oTEDIlogo-sq.svg" type="image/svg+xml">
    <link rel="icon" href="/images/favicons/favicon.ico">
    
</head>