<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or site.long_title or meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="/images/favicons/CoTEDIlogo-sq-apple-touch.png" sizes="180x180">
    <link rel="icon" href="/images/favicons/CoTEDIlogo-sq-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/images/favicons/CoTEDIlogo-sq-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/images/favicons/cotedi-manifest.json">
    <link rel="icon" href="/images/favicons/oTEDIlogo-sq.svg" type="image/svg+xml">
    <link rel="icon" href="/images/favicons/favicon.ico">
    
    <!-- linkedin/facebook meta tags -->
    {% set ogimage = hero | url -%}
    {%- set ogimage = ogimage | replace(".png", "-1260.png") -%}
    {%- set ogimage = ogimage | replace(".jpg", "-1260.jpg") -%}
    {%- set ogimage = ogimage | replace(".jpeg", "-1260.jpeg") -%}
    {%- set ogimage = ogimage | replace(".gif", "-1260.gif") -%}
    {%- set ogimage = ogimage | replace(".webp", "-1260.webp") -%}

    {%- set authorname = author -%}
    {%- set allpartners = partners.research -%}
    {%- set allpartners = allpartners.concat(partners.schools) -%}
    {%- set theauthors = [] -%}
   
    {%- for partner in allpartners -%}
        {%- for member in partner.team -%}
            {%- if member.login == author -%}            
                <meta name="author" property="article:author" content="{{ member.name }}" />
            {%- elif member.name == author -%}
                <meta name="author" property="article:author" content="{{ member.name }}" />
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}

    <meta property="og:title" content="{{ title or site.long_title or meta.title }}" />
    <meta property="og:description" content="{{ description or site.description or meta.description }}" />
    <meta property="og:image" content="{{ site.url }}{{ page.url }}{{ ogimage | url }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="article:published_time" content="{{ page.date | htmlDateString }}" />
    <meta property="og:published_time" content="{{ page.date | htmlDateString }}" />

    <meta property="og:type" content="article" />
   
</head>