---
title: {{ title }}
author: {{ author }}
date: {{ date }}
tags: {% for tag in tags %}
- {{tag}}{% endfor %}
hero: {{ heroimage.url }}
link: {{ external_url }}
partner: {% for partner in partners %}
- {{ partner }}{% endfor %}
language: {{ language }}
mediaurl: {{ mediaurl }}
description: {{ description }}
---

{{ body }} 

{% if mediaplayer | length %}
{{ mediaplayer }}
{% endif %}
