---
layout: index
---
    <div class="container py-4">
        <h1>{{ title }}</h1>
        <p class="meta">
          When: <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
        </p>
        <p class="meta">
          Where: {{ location }}
        </p>
        <div class="content">
        {{ content | safe }}
        </div>
        <div class="tags">
          <ul>
            {% for tag in tags %}
                {% if tag != 'event' %}
              <li><a href="{{ '/tags/' + tag | slug }}">{{ tag }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
{% if page.data.partner -%}
<div class="partner">
    {% for rpartner in partners.research %}
        {% if rpartner.acronym == page.data.partner %}
      <a href="{{ rpartner.url }}" target="_blank" rel="noopener"><img class="partner logo" src="/images/partners/{{rpartner.logo | url }}" alt="{{ rpartner.name }}"></a>
        {% endif %}
    {% endfor %}
    {% for spartner in partners.schools %}
        {% if spartner.acronym == page.data.partner %}
      <a href="/images/partners/{{ spartner.url }}" target="_blank" rel="noopener">{{ spartner.name }}</a>
      {% endif %}
    {% endfor %}
</div>
{%- endif %}
<div class="back">
  <a type="button" class="btn btn-primary" href="{{ '/events/' | url }}">Find more events</a>
</div>
    