<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a href="{{ '/' | url }}" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="{{ site.logo_large | url }}" alt="logo {{ site.title }}" class="img-fluid" style="margin-right: 2em; width: 120px; height: 65px;"> <span class="fs-4">{{ site.long_title }}</span>
        </a>
      </div>
    </nav>
  </header>
</div>
