---
layout: index
---
{% if hero %}
    <div style="background-image: url({{ hero | url }});" class="heroimage text-center"></div>
{% endif %}

<section class="container home-intro">
  <p class="home-lead">Computational thinking for every classroom &mdash; inclusive teaching materials and project results from 16 institutions in six European countries.</p>
</section>

{% include "blocks/home_primary.njk" %}
{% include "blocks/home_about.njk" %}
{% include "blocks/home_teasers.njk" %}

{% if content %}
<div class="container rsf-text">
    {{ content | safe }}
</div>
{% endif %}
