<!DOCTYPE html>
<html>
    <head>
        <title>CoTEDI Project</title>
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>
<body>
  <!-- <h1>The CoTEDI Project</h1> -->
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
