<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  {% include "blocks/html_head.njk" %}

  <body>
    {% include "blocks/header.njk" %}  

    <main id="main">     
        {{ content | safe }}
    </main>

    {% include "blocks/footer.njk" %}

  </body>
</html>
