<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />

  </head>

  <body>
    <!-- skiplinks -->
    <a href="#main" class="visually-hidden-focusable">Skip to main content</a>

    {% include "header.njk" %}  

    <header class="page-header">
      <div class="container">
       <a class="link" href="{{ '/news' | url }}"><i class="bi bi-rss"></i> Project News</a>
       <a class="link" href="{{ '/events' | url }}"><i class="bi bi-calendar3"></i> Upcoming Events</a>
      </div>
    </header>
    <main id="main">
      <div class="container py-4">
        {{ content | safe }}
      </div>
    </main>

    {% include "footer.njk" %}

  </body>
</html>
