---
layout: index
---
<div class="container rsf-text">
        <h1>{{ title }}</h1>
      {% set posts = collections.material | reverse %}
     
      {% if not pagination %}
        {% set posts = collections.material | reverse %}
      {% endif %}

      {% set allpartners = partners.research %}
      {% set allpartners = allpartners.concat(partners.schools) %}

      {% for post in posts %}
        <article class="{{ post.data.type }}">
            {% if post.data.hero %}
            <div class="heroimage"><a href="{{ post.url | url }}">
            <img src="{{ post.url | url }}{{ post.data.hero | url }}" alt="{{ post.data.title }} teaser image" sizes="(max-width: 576px) 100vw, (max-width: 992px) 92vw, 1140px" loading="lazy" decoding="async"></a>
            </div>
            {% endif %}
            <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
            <p class="meta">
                    {%- if post.data.language and post.data.language != 'English'-%}{{ " " }}
                    {%- set display_language = post.data.language -%}
                    {%- if post.data.language == 'es_ES' -%}
                      {%- set display_language = 'Spanish' -%}
                    {%- endif -%}
                    <span class="badge text-bg-warning">{%if post.data.language == 'Spanish' -%} 🇪🇸
        {%- elif post.data.language == 'es_ES' -%}🇪🇸
        {%- elif post.data.language == 'Portuguese' -%}🇵🇹
        {%- elif post.data.language == 'German' -%}🇩🇪
        {%- elif post.data.language == 'Dutch' -%}🇳🇱
        {%- elif post.data.language == 'Swedish' -%}🇸🇪
        {%- endif %} {{ " " }} {{ display_language }} Content</span>{%- endif %}
            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> by
            
            <span>
        {%- for partner in allpartners -%}
            {%- for member in partner.team -%}
            {%- if member.login == post.data.author -%}            
        {{ " " }}<span class="author">{{ member.name }}</span>
             {%- elif member.name == post.data.author -%}
             {{ " " }}<span class="author">{{ post.data.author }}</span>
            {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
        
         {%- for collaborator in post.data.partner -%}
            {%- for partner in allpartners -%}
            {%- for member in partner.team -%}
            {%- if member.login == collaborator -%}            
        {{ " " }}<span class="author">{{ member.name }}</span>
             {%- elif member.name == collaborator -%}
             {{ " " }}<span class="author">{{  member.name }}</span>
              {%- elif member.alias == collaborator -%}
             {{ " " }}<span class="author">{{  member.name }}</span>
            {%- endif -%}
            {%- endfor -%}
            {%- endfor -%}
            {%- endfor -%}
            </span></p>       
          
            <p>
                {{ post.data.description | safe }}

                <a class="bi bi-box-arrow-up-right" href="{{ post.url | url }}"> Read more</a>
            </p>
        </article>
      {% endfor %}

      {% if pagination and pagination.hrefs.length > 1 %}
      <nav aria-label="News pagination">
        <ul class="pagination justify-content-center">
          {% if pagination.href.previous %}
            <li class="page-item"><a class="page-link" href="{{ pagination.href.previous | url }}">Previous</a></li>
          {% endif %}
          {% for href in pagination.hrefs %}
            <li class="page-item {% if loop.index0 == pagination.pageNumber %}active{% endif %}">
              <a class="page-link" href="{{ href | url }}">{{ loop.index }}</a>
            </li>
          {% endfor %}
          {% if pagination.href.next %}
            <li class="page-item"><a class="page-link" href="{{ pagination.href.next | url }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

</div>