---
layout: index
---
<div class="container rsf-text">
        <h1>{{ title }}</h1>
      {% set posts = collections.post | reverse %}
     
      {% if limit %}
        {% set posts = posts | entryLimit(limit) %}
      {% endif %}

      {% for post in posts %}
        <article>
            <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
            <p><time datetime="{{ page.date | htmlDateString }}">{{ post.date | readableDate }}<time> by {{ post.data.author }}</p>       
            <div class="partner"></div>
            <p>{{ post.data.description }}  <a class="bi bi-box-arrow-up-right" href="{{ post.url | url }}"> Read more</a></p>

         
        </article>
      {% endfor %}

      {% if limit and posts | length > limit %}
        <p><a href="{{ '/archive' | url }}">More posts...</a></p>        
      {% endif %}

      </div>
      