---
layout: index
---
<div class="container rsf-text">
        <h1>{{ title }}</h1>
      {% set posts = collections.post | reverse %}
     
      {% if limit %}
        {% set posts = posts | entryLimit(limit) %}
      {% endif %}

      {% set allpartners = partners.research %}
      {% set allpartners = allpartners.concat(partners.schools) %}

      {% for post in posts %}
        <article>
            {% if post.data.hero %}
            <div class="heroimage"><a href="{{ post.url | url }}">
            <img src="{{ post.url | url }}{{ post.data.hero | url }}" alt="{{ post.data.title }} teaser image" sizes="200w,400w,800w,1920w"></a>
            </div>
            {% endif %}
            <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
            <p><time datetime="{{ page.date | htmlDateString }}">{{ post.date | readableDate }}<time> by 
            {% for partner in allpartners -%}
            {% for member in partner.team -%}
            {% if member.login == post.data.author -%}            
        <span class="author">{{ member.name }}</span>
            {%- endif %}
            {%- endfor %}
        {%- endfor %}</p>       
            <div class="partner"></div>
            <p>{{ post.data.description }}  <a class="bi bi-box-arrow-up-right" href="{{ post.url | url }}"> Read more</a></p>
       
        </article>
      {% endfor %}

      {% if limit and posts | length > limit %}
        <p><a href="{{ '/archive' | url }}">More posts...</a></p>        
      {% endif %}

</div>
      