---
layout: index
---
{% if hero %}
    <div style="background-image: url({{ hero | url }});" class="heroimage text-center"></div>
{% endif %}
{% if title -%}
<div class="container rsf-text">
        <h1>{{ title or meta.title }}</h1>
</div>
{%- endif %}
<div class="container rsf-text">
    {{ content | safe }}
</div>