---
layout: index
---
{% if hero %}
<div class="container rsf-text">
    <div class="heroimage text-center">
    <img src="{{ hero | url }}" alt="{{ title or meta.title }} cover image" sizes="(max-width: 576px) 100vw, (max-width: 992px) 92vw, 1140px" loading="eager" fetchpriority="high" decoding="async">
    </div>
</div>
{% endif %}
{% if title -%}
<div class="container rsf-text">
        <h1>{{ title or meta.title }}</h1>
</div>
{%- endif %}
<div class="container rsf-text">
    {{ content | safe }}
</div>