---
layout: index
---
      <div class="container py-4">
        <article>
        <h1>{{ title }}</h1>
        <p class="meta">
          <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          {% if author %}
            <span class="author">by {{ author }}</span>
          {% endif %}
        <p class="lead">{{ description }}</p>
        
        <div class="content">
        {{ content | safe }}
        </div>
        <div class="tags">
          <ul>
            {% for tag in tags %}
                {% if tag != 'post' %}
              <li><a href="{{ '/tags/' + tag | slug }}">{{ tag }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="partner">
            {% for rpartner in partners.research %}
                {% if rpartner.acronym == partner %}
              <a href="{{ rpartner.url }}" target="_blank" rel="noopener"><img class="partner logo" src="/images/partners/{{rpartner.logo | url }}" alt="{{ rpartner.name }}"></a>
                {% endif %}
            {% endfor %}
            {% for spartner in partners.schools %}
                {% if spartner.acronym == partner %}
              <a href="/images/partners/{{ spartner.url }}" target="_blank" rel="noopener">{{ spartner.name }}</a>
              {% endif %}
            {% endfor %}
        </div>
        </article>
        <div class="back">
          <a type="button" class="btn btn-primary" href="{{ '/news/' | url }}">Read more news</a>
        </div>
      </div>
