---
layout: index
---
    {% if hero %}
        <div style="background-image: url({{ hero | url }});" class="heroimage text-center"></div>
    {% endif %}
      <div class="container rsf-text">
        <article>
        <h1>{{ title }}</h1>
        <p class="meta">
          <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          {% if author %}
            <span class="author">by {{ author }}</span>
          {% endif %}
        <p class="lead">{{ description }}</p>
        
        <div class="content">
        {{ content | safe }}
        </div>
        <div class="tags">
          <ul>
            {% for tag in tags %}
                {% if tag != 'post' %}
              <li><a href="{{ '/tags/' + tag | slug }}">{{ tag }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        </article>
        <div class="back">
          <a type="button" class="btn btn-primary" href="{{ '/news/' | url }}">Read more news</a>
        </div>
      </div>
