---
layout: index
---
    {% if hero %}
        <div class="heroimage text-center">
        <img src="{{ hero }}" alt="{{ title }} teaser image" sizes="200w,400w,800w,1920w,2400w">
        </div>
    {% endif %}

    {% set allpartners = partners.research %}
    {% set allpartners = allpartners.concat(partners.schools) %}

      <div class="container rsf-text">
        <article>
        <h1>{{ title }}</h1>
        <p class="meta">
          <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
          
        {% for partner in allpartners -%}
            {% for member in partner.team -%}
            {% if member.login == author -%}            
        <span class="author">by {{ member.name }} ({{ partner.acronym }})</span>
         {%  elif member.alias == author -%}
        <span class="author">{{  member.name }} ({{ partner.acronym }})</span>
           {%  elif member.name == author -%}
        <span class="author">by {{ author }}  ({{ partner.acronym }})</span>
            {%- endif %}
            {%- endfor %}
        {%- endfor %}

        {% for collaborator in partner -%}
        {% for partner in allpartners -%}
            {% for member in partner.team -%}
            {% if member.login == collaborator -%}            
        <span class="author">{{ member.name }} ({{ partner.acronym }})</span>
        {%  elif member.alias == collaborator -%}
        <span class="author">{{  member.name }} ({{ partner.acronym }})</span>
            {%  elif member.name == collaborator -%}
        <span class="author">{{  member.name }} ({{ partner.acronym }})</span>
            {%- endif %}
            {%- endfor %}
        {%- endfor %}
        {%- endfor %}
        </p>

        <p class="lead">{{ description | safe }}</p>
        <p class="lead-link">
            <a class="bi bi-box-arrow-up-right" href="{{ link }}" target="_blank"> Related Link</a>
        </p>
        
        <div class="content">
        {{ content | safe }}
        </div>
        <div class="tags">
          <ul>
            {% for tag in tags %}
                {% if tag != 'post' %}
              <li><a href="{{ '/tags/' + tag | slug }}">{{ tag }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        </article>
        <div class="back">
          <a type="button" class="btn btn-primary" href="{{ '/news/' | url }}">Read more news</a>
        </div>
      </div>
