---
layout: index
---
    {% if hero %}
        <div class="heroimage text-center">
        <img src="/images/stock/bookshelf.png" alt="publication teaser image" sizes="200w,400w,800w,1920w,2400w">
        </div>
    {% endif %}


      <div class="container rsf-text">
        <article>
        <p class="pubtype">{{ page.type }}</h1>

        <p class="lead">{{ content | safe }}</p>
        <p class="lead-link">
            <a class="bi bi-box-arrow-up-right" href="{{ link }}" target="_blank"> Related Link</a>
        </p>
        
        <div class="tags">
          <ul>
            {% for tag in tags %}
                {% if tag != 'publication' %}
              <li><a href="{{ '/tags/' + tag | slug }}">{{ tag }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        </article>
        <div class="back">
          <a type="button" class="btn btn-primary" href="{{ '/publications/' | url }}">All publications</a>
        </div>
      </div>
