---
layout: index
---
      <div class="container rsf-text">
        {% if hero %}
        <div class="heroimage text-center">
        <img src="/images/stock/bookshelf.png" alt="Bookshelf representing CoTEDI publications" sizes="(max-width: 576px) 100vw, (max-width: 992px) 92vw, 1140px" loading="eager" fetchpriority="high" decoding="async">
        </div>
        {% endif %}
        <article>
        <p class="pubtype">{{ page.type }}</p>

        <p class="lead">{{ content | safe }}</p>
        <p class="lead-link">
            <a class="bi bi-box-arrow-up-right" href="{{ link }}" target="_blank"> Related Link</a>
        </p>
        
        <div class="tags">
          <ul>
            {% for tag in tags %}
                {% if tag != 'publication' %}
              <li><a href="{{ '/tags/' + tag | slug }}">{{ tag }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
        </article>
        <div class="back">
          <a type="button" class="btn btn-primary" href="{{ '/publications/' | url }}">All publications</a>
        </div>
      </div>
